<img sizes="{{ sizes }}"
     srcset="{{ smallImg }} {{ width1 }}w,
             {{ midImg }} {{ width2 }}w,
             {{ medImg }} {{ width3 }}w,
             {{ lrgImg }} {{ width4 }}w"
     alt="{{ altText }}">

<p>These are the config file widths:</p>
<p>Small: {{ width1 }}</p>
<p>Mid: {{ width2 }}</p>
<p>Medium: {{ width3 }}</p>
<p>Large: {{ width4 }}</p>
<p>{{ scale }}</p>